#productsDiv{
    position: relative;
    top: 60vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    min-width: 1000px;
    width: 100vw;
    animation: fadeIn 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}