header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    min-width: 1000px;
    min-height: 20vh;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#logoDiv{

    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

#title{

    font-size: xx-large;
    margin-left: 30px;
    margin-top: 15px;
    color: rgb(46, 138, 61);
    cursor: default;

}


#logo{

    animation: rolateIn 2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}



#loginImg{
    right: 0;
    margin-right: 50px;
    cursor: pointer;
}

#cartDiv{

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-4%);
    width: 35px;
    min-height: 20vh;
    margin-right: 5vw;
}

#iconDiv{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#cartImg{

    position: absolute;
    cursor: pointer;

}

#artcleNum{

    position: absolute;
    font-size: large;
    font-weight: 600;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-25%);
}